body {
  background-color: rgb(143, 218, 255);
}
.App {
  text-align: center;
}
header {
  background-image: url(/public/nettoyage-des-vitres.jpeg);
  width: 100%;
  height: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.form-group textarea {
  width: 500px;
  height: 500px;
}

.merci {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
